*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresesntacao{
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
  }

  <div class="responsivo-container">
  <div>Conteúdo 1</div>
  <div>Conteúdo 2</div>
  <!-- Mais conteúdos -->
</div>

.responsivo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  

  